---
import Layout from '../layouts/Layout.astro';
---

<Layout title="CV Andrés Martinez">
	<header class="grid grid-cols-1 m-8">
		<h1 class="font-sans text-5xl">Andrés Martinez</h1>
		<p class="font-sans text-sm"><a href="mailto:andrepipemc@gmail.com">andrepipemc@gmail.com</a> | Envigado, Colombia</p>
	</header>
	<main class="m-8 text-sm font-sans">
		<article class="mb-8">
			<h2 class="font-sans font-semibold text-lg border-b-2 border-zinc-900 mb-5">Profesional Summary</h2>
			<section class="font-sans mx-4 normal-case ml-4">
				A highly experienced professional with over a decade dedicated to web and mobile application development.</br>
				Focused on creating highly efficient teams and designing robust architectures, resulting in the successful execution of numerous projects.</br>
				Possesses profound knowledge in essential technologies, including Javascript, Node.js, React, Nestjs, Python, and Flask, along with expertise in databases such as MySQL and PostgreSQL, as well as cloud technologies like AWS. Adept at leading teams in an agile methodology environment, excelling in Scrum and Kanban. Skills encompass user interface design, API creation, and product development.</br>
				Passionate about using technical expertise and problem-solving abilities to create products with a significant impact on people.</br>
				The value proposition lies in the combination of technical skills with meticulous attention to the user experience, coupled with an understanding of business processes.</br>
				Committed to continuous improvement, with a natural inclination for learning and teaching.</br>
				The professional goal is to continue working in interdisciplinary teams, contributing while building relationships based on trust and respect.
			</section>
		</article>
		<article class="mb-8">
			<h2 class="font-sans font-semibold text-lg border-b-2 border-zinc-900 mb-5">Skills</h2>
			<section class="mx-4">
				<ul class="list-disc ml-4 grid grid-cols-2 gap-2 md:grid-cols-3">
					<li>Effective communication</li>
					<li>Planning strategy</li>
					<li>Interdisciplinary team collaboration</li>
					<li>Team building</li>
					<li>Team leadership and management</li>
					<li>Application design and architecture implementation</li>
					<li>Agile methodologies: Scrum, Kanban</li>
					<li>API creation</li>
					<li>UX/UI knowledge</li>
					<li>Web and mobile app development</li>
					<li>AWS, Docker, Kubernetes (K8)</li>
					<li>MySQL, PostgreSQL, MongoDB, Redis, Elasticsearch, Neo4j</li>
					<li>Javascript, React, React Native, Electron</li>
					<li>Node.js, Nestjs, Python, Flask</li>
				</ul>
			</section>
		</article>
		<article class="mb-8">
			<h2 class="font-sans font-semibold text-lg border-b-2 border-zinc-900 mb-5">Experience</h2>
			<section class="mx-4 mb-4">
				<aside class="grid grid-cols-2 mb-2">
					<h3 class="font-sans">Engineering Manager</h3>
					<p class="text-zinc-400 text-right font-sans">October 2020 - Present</p>
					<h4 class="font-sans">RV Dev, Medellin, Colombia</h4>
				</aside>
				<ul class="list-disc ml-4">
					<li>Supervised a team of 5-16 developers.</li>
					<li>Managed the development of 3-5 projects concurrently.</li>
					<li>Led the creation of 3 mobile applications.</li>
					<li>Personnel recruitment.</li>
					<li>Established the development process and architecture.</li>
					<li>Resolved stability issues (crashes).</li>
					<li>Cultivated a development culture.</li>
					<li>Formed the development team.</li>
					<li>Technology stack definition.</li>
					<li>Collaborated with the team.</li>
					<li>Worked in interdisciplinary teams.</li>
				</ul>
			</section>
			<section class="mx-4 mb-4">
				<aside class="grid grid-cols-2 mb-2">
					<h3 class="font-sans">Senior Front End Developer</h3>
					<p class="text-zinc-400 text-right font-sans">May 2018 - October 2020</p>
					<h4 class="font-sans">Melt Studio, Medellin, Colombia</h4>
				</aside>
				<ul class="list-disc ml-4">
					<li>Developed web applications in React.js.</li>
					<li>Created mobile applications in React Native.</li>
					<li>Designed application architecture.</li>
					<li>Defined development processes.</li>
					<li>Maintained and optimized applications.</li>
				</ul>
			</section>
			<section class="mx-4 mb-4">
				<aside class="grid grid-cols-2 mb-2">
					<h3 class="font-sans">Senior Front End Developer</h3>
					<p class="text-zinc-400 text-right font-sans">April 2017 - April 2018</p>
					<h4 class="font-sans">BaseStone, London, United KingdomLondon</h4>
				</aside>
				<ul class="list-disc ml-4">
					<li>Developed with Backbone.js.</li>
					<li>Managed design using Canvas.</li>
					<li>Established offline systems with CouchDB.</li>
				</ul>
			</section>
			<section class="mx-4 mb-4">
				<aside class="grid grid-cols-2 mb-2">
					<h3 class="font-sans">Lead Development</h3>
					<p class="text-zinc-400 text-right font-sans">December 2015 - April 2017</p>
					<h4 class="font-sans">Auctio Inc, New York, United States</h4>
				</aside>
				<ul class="list-disc ml-4">
					<li>Developed web applications in PHP and Node.js, including CRM-type solutions.</li>
					<li>Created applications in Ember.js.</li>
					<li>Integrated applications with APIs.</li>
					<li>Integrated with Elasticsearch.</li>
					<li> Managed AWS server administration.</li>
					<li>Provided leadership for the development team.</li>
					<li>Collaborated with the 500 startups team.</li>
				</ul>
			</section>
			<section class="mx-4 mb-4">
				<aside class="grid grid-cols-2 mb-2">
					<h3 class="font-sans">Lead Development</h3>
					<p class="text-zinc-400 text-right font-sans">March 2013 - December 2015</p>
					<h4 class="font-sans">SM Digital, Medellin, Colombia</h4>
				</aside>
				<ul class="list-disc ml-4">
					<li>Created web applications in PHP.</li>
					<li>Developed applications for Facebook.</li>
					<li>Created applications with Ionic.</li>
					<li>Migrated hosting servers to AWS.</li>
					<li>Managed server infrastructure.</li>
					<li>Led cross-functional teams.</li>
					<li>Developed development strategies.</li>
					<li>Designed CMS websites.</li>
				</ul>
			</section>
			<section class="mx-4">
				<aside class="grid grid-cols-2 mb-2">
					<h3 class="font-sans">Junior Developer</h3>
					<p class="text-zinc-400 text-right font-sans">August 2011 - March 2013</p>
					<h4 class="font-sans">Hibu, Medellin, Colombia</h4>
				</aside>
				<ul class="list-disc ml-4">
					<li>Developed web applications in PHP (Paginas Amarillas España).</li>
					<li>Maintained PHP web applications (Paginas Amarillas España).</li>
					<li>Managed servers.</li>
					<li>Administered networks.</li>
					<li>Created web pages.</li>
				</ul>
			</section>
		</article>
		<article class="mb-8">
			<h2 class="font-sans font-semibold text-lg border-b-2 border-zinc-900 mb-5">Education</h2>
			<section class="mx-4">
				<aside class="grid grid-cols-2 gap-2">
					<h3 class="font-sans">CESDE</h3>
					<p class="text-zinc-400 font-sans text-right ">December - 2010</p>
				</aside>
			</section>
		</article>
		<article class="mb-8">
			<h2 class="font-sans font-semibold text-lg border-b-2 border-zinc-900 mb-5">Language</h2>
			<section class="mx-4 grid grid-cols-2">
				<aside>
					<strong>Spanish</strong>
					<p class="text-zinc-500 font-sans">Native</p>
				</aside>
				<aside>
					<strong>English</strong>
					<p class="text-zinc-500 font-sans">Beginner (A1)</p>
				</aside>
			</section>
		</article>
		<article class="mb-8">
			<h2 class="font-sans font-semibold text-lg border-b-2 border-zinc-900 mb-5">Projects</h2>
			<section class="mx-4">
				<ul class="list-disc ml-4 gap-2">
					<li>Boilerplate [React + Vite + Redux and Redux Saga]</li>
				</ul>
			</section>
		</article>
	</main>
	<footer class="m-8 text-center">
		<p>© 2021 Andrés Martinez</p> Powered by <a href="https://astro.build">Astro</a>
	</footer>
</Layout>
