---
import Layout from '../layouts/Layout.astro';
import './src/assets/styles/chat-widget.css';
---
<Layout title="Chat AI">
  <main>
    <div id="chat-container"></div>
    <link
      href="https://cdn.jsdelivr.net/npm/@n8n/chat/dist/style.css"
      rel="stylesheet"
    />
    <script type="module">
      import { createChat } from 'https://cdn.jsdelivr.net/npm/@n8n/chat/dist/chat.bundle.es.js';

      createChat({
        webhookUrl: 'https://n8n.wearegenuino.com/webhook/98f3a26b-014a-4d7e-a664-43c1b5ae2c7b/chat',
        container: '#chat-container',
        showWelcomeScreen: false,
	      defaultLanguage: 'es',
        loadPreviousSession: true,
        initialMessages: [],
        i18n: {
          es: {
            title: 'Luna',
            subtitle: "Tu asistente virtual 24/7",
            footer: 'Powered by Genuino',
            inputPlaceholder: 'Escribe aquí',
          },
        },
      });
    </script>
  </main>
</Layout>