---
import Layout from '../layouts/Layout.astro';
import chatWidgetUrl from '../assets/styles/chat-widget.css?url';
---
<script>
setTimeout(() => {
  const header = document.querySelector('.chat-header');
  const heading = header?.querySelector('.chat-heading');
  const subtitle = header?.querySelector('p');

  if (heading && subtitle) {
    heading.appendChild(subtitle); // mueve el <p> dentro del .chat-heading
  }
}, 100);
</script>
<Layout title="Chat AI">
  <main>
    <div id="chat-container"></div>
    <link
      href="https://cdn.jsdelivr.net/npm/@n8n/chat/dist/style.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href={chatWidgetUrl}>
    <script type="module">
      import { createChat } from 'https://cdn.jsdelivr.net/npm/@n8n/chat/dist/chat.bundle.es.js';

      createChat({
        webhookUrl: 'https://n8n.wearegenuino.com/webhook/98f3a26b-014a-4d7e-a664-43c1b5ae2c7b/chat',
        container: '#chat-container',
        showWelcomeScreen: false,
	      defaultLanguage: 'es',
        loadPreviousSession: true,
        initialMessages: [
          `Hola, soy Luna, la asistente virtual de MariaCe Posada Pets, ¿cómo te puedo ayudar hoy?`
        ],
        i18n: {
          es: {
            title: 'Luna',
            subtitle: "Tu asistente virtual 24/7",
            footer: 'Powered by Genuino',
            inputPlaceholder: 'Escribe aquí',
          },
        },
      });
    </script>
  </main>
</Layout>
