:root {
    --chat--color-primary: #3A86FF !important;
        --chat--color-background: #ffffff !important;
        --chat--textarea--height: 55px !important;
        --chat--header--background: #ffffff !important;
        --chat--color-white: #ffffff !important;
        --chat--window--width: 360px !important;
        --chat--window--height: 620px !important;
        --chat--border-radius: 12px !important;
        --chat--font-family: 'Arial', sans-serif !important;
        --chat--header--color: #000000 !important;
        --chat--heading--font-size: 2em !important;
        --chat--toggle--background: var(--chat--color-primary) !important;
        --chat--toggle--hover--background: var(--chat--color-primary) !important;
        --chat--toggle--active--background: var(--chat--color-primary) !important;
        --chat--toggle--color: var(--chat--color-white) !important;
        --chat--subtitle--font-size: 0.9em !important;
        --chat--textarea--height: 50px !important;
        --chat--border-radius: 0 !important;
        --chat--toggle--size: 50px !important;

    --chat--message--font-size: 0.9em !important;
        --chat--message--border-radius: 16px !important;
        --chat--message--bot--background: #F7F7F7 !important;
        --chat--message--bot--color: #262626 !important;
        --chat--message--bot--border: 1px solid #E6E6E6 !important;
        --chat--message--user--background: #C1E9F3 !important;
        --chat--message--user--color: #153C46 !important;
        --chat--message--user--border: 1px solid #A2D2DE !important;
}

.chat-layout .chat-header {
    gap: 0 !important;
}

.chat-header .chat-heading h1 {
    font-size: var(--chat--heading--font-size) !important;
        color: var(--chat--header--color) !important;
        font-weight: 700 !important;
}

.chat-header p {
    font-weight: 400 !important;
        color: var(--chat--header--color) !important;
        border-bottom: 1px solid #C7C7C7 !important;
        padding-bottom: 10px !important;
}

.chat-layout .chat-body {
    background-color: var(--chat--color-background) !important;
        font-family: var(--chat--font-family) !important;
}

.chat-layout .chat-footer {
    border-top: 0 !important;
        background-color: var(--chat--color-background) !important;
        color: #888 !important;
        padding: 0px 13px 20px 13px !important;
        text-align: center !important;
}

.chat-layout .chat-footer div {
    background-color: #EDEDED !important;
        border-start-start-radius: 6px !important;
        border-end-start-radius: 6px !important;
        border-start-end-radius: 6px !important;
        border-end-end-radius: 6px !important;
}

.chat-layout .chat-footer div textarea {
    background-color: #EDEDED !important;
        color: #8C8C8C !important;
        font-size: 0.9em !important;
        font-family: Roboto, sans-serif !important;
        font-weight: 400 !important;
        border-start-start-radius: 6px !important;
        border-end-start-radius: 6px !important;
}

.chat-layout .chat-footer div .chat-inputs-controls button {
    background-color: #EDEDED !important;
        color: #8C8C8C !important;
        border-start-end-radius: 6px !important;
        border-end-end-radius: 6px !important;
}

.chat-layout .chat-layout .chat-powered-by {
    display: none !important;
}